body {
    Color: steelblue;
}

header {
    position: fixed;
    top: 0;
}

main {
    margin-top: 75px;
}

h1 {
    font-family: sans-serif;
}

.holder-type {
    color: orange;
    margin-top: 10px;
}